.white-blog-container{
  height: 1700px;
  display: grid;
  place-items: center;
}

.blog-section{
  width: 948px;
  height: 1331px;
  display: grid;
  place-items: center;
}

.blog-ruler{
  width: 100%;
  border: 1px solid #D6D6D6;
}

.button-container{
  margin-top: 39px;
}

.blog-head-margin{
  margin: 16px auto 39px;
}
